@using FoodOrdering63131236.Models
@using PagedList.Mvc
@model PagedList.PagedList<BAIVIET>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Menu.cshtml";
}

<div class="col-sm-9">
    <div class="blog-post-area">
        <h2 class="title text-center">Latest From our Blog</h2>
        @foreach (BAIVIET bv in Model)
        {
            <div class="single-blog-post">
                <h2>@bv.TenBV</h2>
                <div class="post-meta">
                    <ul>
                        <li><i class="fa fa-user"></i> Mac Doe</li>
                        <li><i class="fa fa-clock-o"></i> @bv.NgayDang.ToString("hh:mm:ss")</li>
                        <li><i class="fa fa-calendar"></i> @bv.NgayDang.ToString("yyyy:MM:dd")</li>
                    </ul>
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </span>
                </div>
                <a href="@Url.Action("Single","Blogs63131236", routeValues: new { id = bv.TenDuongDan })">
                    <img src="@bv.ANH.Url" alt="" height="200px">
                </a>
                <p>@Html.Raw(bv.TomTat)</p>
                <a class="btn btn-primary" href="@Url.Action("Single","Blogs63131236", routeValues: new { id = bv.TenDuongDan })">Đọc thêm</a>
            </div>
        }

        <div class="pagination-area">
            @Html.PagedListPager(Model, page => Url.Action("Index", "Blogs63131236", routeValues: new { page = page }))
        </div>
    </div>
</div>
